.root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;

    div {
        width: 400px;
        height: 200px;
        text-align: center;
        svg {
          display: inline-block;
          height: 100%;
        }
    }
}