.row {
    align-items: center;
    :global {
        .ant-input-number{
            width: 100%;
        }
    }

    .label {
        text-align: right;
    }
}

.icon {
    font-size: 24px;
}

.alignright {text-align: right;}

.middle {
    text-align: center;
    font-size: 18px;
    color: #aaa;
}

.locked {
    color: #222;
}