.row {
    margin-top: 10px;
}

.btn {
    display: flex;
    align-items: center;
}

.label {
    text-align: right;
    line-height: 30px;
    &::after {
        display: inline-block;
        content: ":";
    }
}

.toolbar {
    margin-bottom: 30px;
}

.prefix {
    color: @select-multiple-item-disabled-color;
}