

  .listwrap {
    height: 0;
    position: absolute;
    width: 100%;
    >ul {
      padding: 0;
      margin: 0;
      >li {
        margin: 0;
        box-sizing: border-box;
        overflow: hidden;
        width: 100%;
        display: flex;
        flex-direction: column;
        transition: all ease-in 300ms;
        text-align: left;
      }
    }
  }

  .display{
    height: 0;
    overflow-y: hidden;
    overflow-x: visible;
    position: relative;
    flex-shrink: 0;
  }

  .item {
    white-space:nowrap;/* 规定文本是否折行 */  
    overflow: hidden;/* 规定超出内容宽度的元素隐藏 */
    text-overflow: ellipsis;
    box-sizing: border-box;
  }