.row {
    align-items: center;
    :global {
        .ant-select{
            width: 100%;
        }
    }

    .label {
        text-align: right;
    }
}

.example {
    display: flex;
    height: 100%;
    align-items: center;
    div {
        flex: auto;
    }
}

.menu {
    display: flex;
    div {
        flex: auto;
        font-size: 24px;
        color: #aaa;
    }
}

.color {
    color: #222;
}