.dashboardstylewrap {
  display: flex;
  height: 100%;
}

.menu {
  position: relative;
  width: 130px;
  height: 100%;
  > ul {
    height: 100%;
  }
}

.dashboard {
  flex: auto;
  overflow-y: auto;
}

.menuitem {
  padding: 0 5px !important;
}