.nbdr {
  border-right: none;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.nbdl {
  border-left: none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.nbr {
  border-radius: 0;
  background-color: #fff;
}
.item {
  color: rgb(202, 202, 202);
}

.current {
  color: gray;
}

.saving {
  color: rgb(209, 209, 209);
  font-size: 12px;
  margin-left: 10px;
}