.root {
  box-sizing: border-box;
}

.item {
  border: 1px solid #efefef;
  background-color: #fafafa;
  padding: 10px; margin-bottom: 10px;
}

.row {
  align-items: center;
  margin-bottom: 10px;
  :global {
      .ant-radio-button-wrapper {
          padding: 0 10px;
      }
      .ant-input-number{
          width: 100%;
      }
  }
}

.divide {
  border-bottom: 1px solid rgb(240, 240, 240);
  min-height: 30px;
  margin: 10px 0;

  display: flex; 
  .title {
      flex: 1;
      color: #aaa;
  }
}

.icon {
  cursor: move;
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -20px;
  top: 5px;
  color: #AAA;
  svg {
      display: block;
      fill: currentColor;
  }
}

.item {
  position: relative;
}

:global {
  body > .apiitem{
      z-index: 2000;
  }
}

.map {
  align-items: center;
}

.w100 {
  width: 100%;
}