.title {
    display: flex;

    h4 {
        flex: auto;
        line-height: 30px;
    }

    .right {
        width: 100px;
    }

    .runningtime {
        margin-right: 40px;
    }
}

.cardtitle {
    display: flex;
    align-items: center;
    font-weight: normal;
    .title {
        width: 140px;
    }
    .type {
        width: 100px;
    }
    .divide {
        margin-right: 20px;
    }
}

.cardtitleinfo {
    display: flex;
    align-items: center;
    flex: auto;
}

.desc {
    background: transparent !important;
    color: whitesmoke !important;
    border-color: rgba(0,0,0,0.2);
}

.card {
    margin-bottom: 10px;
}

.label {
    color: #999;
}

.suffix {
    color: #aaa;
}

.mixedcard {
    :global {
        .ant-card-body {
            padding: 0 !important;
        }
    }
}