.imgwrap {
  img {
    width: 100%;
    height: 100%;
  }

  background-color: #eee;
  width: 100%;
}

.swipercontainer {
  width: 100%;
  height: 100%;
}

.swiperslide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}

.sliderwrap {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.root {
 
}