.imgwrap {
    img {
        width: 100%;
        height: 100%;
    }
    background-color: #eee;
    width: 100%;
}

.slider {
    :global {
        .awssld__content {
            background-color: transparent;
        }
    }
}

.swipercontainer {
    width: 100%;
    height: 100%;
}

.swiperslide {
    img {
        width: 100%;
    }
}

