//
// Basic Bootstrap table
//

.table {
    width: 100%;
    margin-bottom: 0;
    vertical-align: middle;
    caption-side: bottom;
    border-collapse: collapse;
    overflow: hidden;

    >thead {
      vertical-align: bottom;
    }

    tbody, td, tfoot, th, thead, tr {
      border: none;
    }
    
}


  
  
  