
.root {
    box-sizing: border-box;
    :global {
        .MuiGrid-container {
            margin: 0;
            width: 100%;
        }

        input:-internal-autofill-selected {
          background-color: transparent !important;
        }

        ::-webkit-calendar-picker-indicator{
          opacity: 0.3;
        }

        .MuiScopedCssBaseline-root {
            background-color:transparent;
            color: inherit;
        }

        .MuiInputBase-root, .MuiScopedCssBaseline-root, .MuiSvgIcon-root, .MuiRadio-root, .MuiCheckbox-root, .MuiFormLabel-root {
            color: inherit;
        }

        .MuiTypography-body1 {
          font-size: inherit;
        }
        
    }

    .container, .header, .footer {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .footer {
        button {
            -webkit-appearance: none;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            border: none;
            position: relative;
            min-height: 50px;
            &:hover {
              outline: 0;
            }
          
            &:focus {
              outline: 0;
            }
          
            &:active {
              outline: 0;
            }
          
            &:disabled {
              pointer-events: none;
            }
          }
    }

}
