
.root {
    box-sizing: border-box;
    :global {
        .MuiGrid-container {
            margin: 0;
            width: 100%;
        }

        .MuiScopedCssBaseline-root {
            background-color:transparent;
        }
    }

    .container, .header, .footer {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .footer {
        button {
            -webkit-appearance: none;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            border: none;
            position: relative;
            min-height: 50px;
            &:hover {
              outline: 0;
            }
          
            &:focus {
              outline: 0;
            }
          
            &:active {
              outline: 0;
            }
          
            &:disabled {
              pointer-events: none;
            }
          }
    }

}
