.row {
    align-items: center;
}

.label {
    text-align: right;
}

.group {
    display: flex !important;
    width: 100%;
}

.select {
    flex-shrink: 0 !important;
    width: 90px;

    >div {
        background-color: #eee !important;
        color: rgba(0,0,0,0.2);
        padding: 0 3px !important;
    }
}

