.block {
  padding: 30px 10px 10px 10px;
  position: relative;
  margin-top: 10px;
  background-color: #eee;
}

.lineItem {
  margin-bottom: 10px;
}

.bridge {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}

.minus {
  position: absolute;
  right: 5px;
  top: 5px;
}