.modalinit {
    font-style: normal;
}

.closeicon {
    display: block;
    width: 100%;
    height: 100%;
}

.articalinit {
    opacity: 0;
    transition: all 1000ms;
}

.artical {
    opacity: 1;
}