.row {
  margin-bottom: 10px;
  align-items: center;
  padding: 0 20px;
  width: 100%;
}

.label {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: right;
}

.header {
  padding-bottom: 0;
  padding-left: 0;
}