.block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modify {
    background: rgba(100, 100, 100, 0.1);
}

.view {
    :global{
        .react-resizable-handle {
            display: none;
        }
    }
}

.blockcon {
    width: 100%;
    height: 10%;
    text-align: center;
}

.layout {
    :global{
        .react-grid-item > .react-resizable-handle.react-resizable-handle-se {
            z-index: 30;
        }
    }
    position: relative;
    flex: auto;
}

