.root {
    background-color: #fafafa;
    ul {
       margin-bottom: 10px;
    }
    position: relative;
    z-index: 100;
}

.subul {
    background-color: #eee;
    padding: 0;
    margin: 10px 0;
}