.inp {
  width: 40% !important;
}
.btn {
  width: 10% !important;
}
.item {
  margin-bottom: 10px;
}

.tag {
  cursor: pointer;
}

.drag {
  display: block;
  opacity: 0.5;
  width: 20px;
  height: 20px;
}