.canvas{
    background-color: #fff;
}
.cwrap {
    position: absolute;
    opacity: 0.1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    .x {
        position: absolute;
        width: 100%;
        border: none;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
        padding: 0;
        margin: 0;
    }
    .y {
        position: absolute;
        height: 100%;
        border: none;
        border-right: 1px dashed rgba(0, 0, 0, 0.5);
        padding: 0;
        margin: 0;
    }
}