//
// Base styles
//

.btn {
    -webkit-appearance: none;
    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    position: relative;

    &:hover {
        outline: 0;
    }

    &:focus {
        outline: 0;
    }

    &:active {
        outline: 0;
    }

    &:disabled {
        pointer-events: none;
    }
}
