//
// Base styles
//

.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;

    &:hover {
        outline: 0;
    }

    &:focus {
        outline: 0;
    }

    &:active {
        outline: 0;
    }

    &:disabled {
        pointer-events: none;
    }
}
