.form {
  :global {
    .ant-form-item-control-input-content {
      display: flex;
      flex-shrink: 0;
      flex-wrap: wrap;
      padding: 0 10px;
      >div {
        width: 50%;
        margin-bottom: 10px;
      }
    }
  }
}
.wrap {
  padding: 10px;
  border: 1px solid #d9d9d9;
}