.root {
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.dashboardwrap {
  width: 100%;
  flex: auto;
}

.menuicon {
  position: absolute;
  width: 30px;
  left: -31px;
  padding: 0 0 0 10px;
  border-radius: 30px 0 0 30px;
  border-right: none;
}

.dashboard {
  width: 550px;
  flex-shrink: 0;
  overflow-y: auto;
}

.contentmenu {
  background-color: #eee;
  width: 300px;
}

.headtab {
  border-bottom: 1px solid @border-color-base;
  width: 100%;
  display: flex;
  background-color: #eee;
  align-items: center;
}

.moduleselect {
  margin-left: 10px;
}

.discfirstitem {
  pointer-events: none;
}

.controllerwrap {
  background-color: @component-background;
  flex: auto;
}

.select {
  background-color: #eee;
  width: 180px;
  :global {
    .ant-select-selector {
      background-color: #eee !important;
      border: none !important;
    }
  }
}


.info {
  margin-right: 20px;
}

.delete {
  cursor: pointer;
}