.row {
  margin-bottom: 10px;
  .label {
      text-align: right;
      line-height: 30px;
      word-break:keep-all;/* 不换行 */
      white-space:nowrap;/* 不换行 */
      overflow:hidden;
      text-overflow:ellipsis;
  }
}