.row {
    margin-bottom: 10px;

    :global {
        .ant-radio-button-wrapper {
            padding: 0 10px;
        }
    }
}

.Checkbox {
    margin-left: 6px;
}

.tab {
    width: 100%;
    text-align: center;
}